---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"
import TimeLineElement from "../components/cv/TimeLine.astro";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">Ich bin Jürgen Rockmann</div>
    <div class="text-3xl py-3 font-bold">Software Architect | Lead Magnolia DXP</div>
    <div class="py-2">
      <text class="text-lg">
        <!--This is <b>Astrofy</b> a free and open-source template for your Personal Portfolio Website built with Astro and TailwindCSS.
        Create in minutes a website with Blog, CV, Project Section, Store and RSS Feed. I hope you find
        it useful!-->
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://www.linkedin.com/in/j%C3%BCrgen-rockmann-6907002b/" target="_blank"> Let's connect!</a>
    </div>
  </div>

  <!--

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={post.data.url ? post.data.url : "/blog/" + createSlug(post.data.title, post.slug)}
          target={post.data.url ? "_blank" : "_self"}
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
  -->


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Berufserfahrung</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Principal Software Architect | Lead Magnolia DXP"
      subtitle="Juni 2023 bis Heute bei Ray Sono AG, München, Deutschland"
    >
        <ul class="list-disc mx-6 mb-6 mt-6">
            <li>
                Fachliche Leitung des Ray Sono Magnolia DXP Teams.
            </li>
            <li>
                Entwurf der Architektur und Umsetzung eines MVP zur Bereitstellung von EDU-Geräten für Schüler.
            </li>
            <li>
                Technischer Ansprechpartner sowie Leiter eines der externen Entwickler Teams für den Relaunch des Portals eines bundesweiten
                Mobilitäts- und Transportkonzern im laufenden Betrieb.
            </li>
            <li>
                Vertragsgestaltung und Bereitstellung der Ray Sono Custom Magnolia Module inklusive der Implementierung eines Lizenz Servers unter
                Verwendung von License3J und JHipster.
            </li>
            <li>
                Maintenance und Weiterentwicklung eines Datenerfassungssystems von Transformatoren für einen führenden Energiekonzern.
            </li>
            <li>
                Technische Beratung und technisches Coaching eines Medizintechnikunternehmens und deren Dienstleister bei der Umsetzung der B2C
                Website und des B2B Portals im Magnolia DXP Umfeld.
            </li>
        </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Software Architekt"
      subtitle="Juni 2018 bis Juni 2023 bei Ray Sono AG, München, Deutschland"
    >
        <ul class="list-disc mx-6 mb-6 mt-6">
            <li>
                Technischer Ansprechpartner für den Relaunch des Portals eines bundesweiten Mobilitäts- und Transportkonzern im laufenden Betrieb.
            </li>
            <li>
                Lead Developer für den Relaunch der Portale einer touristischen Dachorganisation auf der Magnolia DXP.
            </li>
            <li>
                Umsetzung des Ray Sono internen Blueprints für Magnolia DXP Projekte.
            </li>
            <li>
                Lead Developer bei der Migration einer B2C Website und dem B2B Händlerportal eines weltweit agierenden Herstellers von
                Komfortprodukten für Wohnwagen und Reisemobile.
            </li>
            <li>
                Verantwortlich für die Implementierung von Landingpages für ein Treue- und Vielfliegerprogramm unter Verwendung von Spring Boot und
                dem Hosting auf der OpenShift-Plattform.
            </li>
            <li>
                Unterstützung des Sales Teams durch die Analyse von Kundenanforderungen sowie enge Zusammenarbeit mit den Account- und
                Projektmanagement-Teams bei der Erstellung von Angeboten und kundenspezifischen Präsentationen.
            </li>
        </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Senior Softwareentwickler"
      subtitle="September 2010 bis Juni 2018 bei Ray Sono AG, München Deutschland"
    >
      <ul class="list-disc mx-6 mb-6 mt-6">
        <li>
            Lead Developer & Projektleitung sowie Support & Maintenance der Systeme und Plattformen eines großen Franchisenehmer Unternehmens.
            <ul class="list-disc mx-6 mb-6 mt-6">
                <li>Technische Konzeption, Implementierung und laufende Betreuung von Liferay Custom Portlets, sowie die Anbindung diverser REST und SOAP Schnittstellen</li>
                <li>Technische Konzeption und Implementierung diverser Kampagnen Landingpages basierend auf Spring Boot sowie Azure-Table und -Blobs</li>
                <li>Koordination des 2nd Level Supports</li>
            </ul>
        </li>
        <li>
            Technische Konzeption, Entwicklung und Wartung eines Reiseportals inklusive Buchungsstrecke für den Tourismussektor in
            Verbindung mit den APIs von TravelTainment, Travel-IT und GIATA auf Basis von Magnolia CMS unter Anwendung der SCRUM Projektmethodik.
        </li>
        <li>
            Relaunch diverser Tourismus-Plattformen auf Basis des Magnolia CMS unter Anwendung der SCRUM Projektmethodik.
            <ul class="list-disc mx-6 mb-6 mt-6">
                <li>Technische Konzeption, Entwicklung und Betreuung der Module basierend auf Java</li>
                <li>Implementierung der CMS Templates via FTL</li>
                <li>Datenmigration aus den Altsystemen in das von Magnolia verwendete Format</li>
            </ul>
        </li>
        <li>
            Implementierung und Wartung einer Mietwagen- Buchungsstrecke für den Tourismussektor mit der SOAP-API von MicronNexus und der
            Verwendung des PHP CodeIgniter Frameworks.
        </li>
        <li>
            Implementierung und Wartung von Portlets eines B2B Liferay Portals.
        </li>
        <li>
            Weiterentwicklung der firmeninternen Zeiterfassung via PHP und MySQL.
        </li>
        <li>
            Umsetzung diverser Geckoboards mit Hilfe von Custom Widgets zur Auswertung von Daten aus diversen Analytics Tools.
            <ul class="list-disc mx-6 mb-6 mt-6">
                <li>
                    Technische Konzeption und Implementierung der Applikation zur Konvertierung der Daten aus den Analytics Tools in das JSON- Format von Geckoboard und Highcharts
                </li>
            </ul>
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Softwareentwickler"
      subtitle="Juli 2010 bis September 2010 bei HYVE, München, Deutschland"
    >
      <ul class="list-disc mx-6 mb-6 mt-6">
        <li>
            Implementierung von Community Solutions auf Basis von PHP und MySQL.
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Softwareentwickler"
      subtitle="August 2008 bis Juli 2010 bei eTourism Competence Center Austria, Innsburck, Österreich"
    >
      <ul class="list-disc mx-6 mb-6 mt-6">
        <li>
            Technische Konzeption, Entwicklung und Betreuung webbasierter mobiler Reiseführer.
            <ul class="list-disc mx-6 mb-6 mt-6">
                <li>
                    Entwicklung von Modulen der Anwendungslogik innerhalb des Applikationsservers basierend auf Spring
                </li>
                <li>
                    Dynamische Anpassung des Clientinterfaces an das verwendete Endgerät auf Basis von XML und XSLT
                </li>
                <li>
                    Entwurf und Pflege des Datenbankmodells basierend auf Hibernate und PostgreSQL
                </li>
                <li>
                    Anpassungen und Erweiterungen im JavaScript Bereich für 2D Pistenpläne
                </li>
                <li>
                    Implementierung eines mobilen Pistenplans als J2ME Applikation inklusive Friendlist und Darstellung der Kontakte im Skigebiet über GPS Positionsbestimmung
                </li>
            </ul>
        </li>
        <li>
            Support bei der Netzwerk- und Systemadministration.
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Junior Softwareentwickler"
      subtitle="Mai 2008 bis August 2008 bei tetralog systems AG, München, Deutschland"
    >
      <ul class="list-disc mx-6 mb-6 mt-6">
        <li>
            Entwicklung von Modulen der Anwendungslogik für die tetralog Produkte mit Apache Struts
        </li>
        <li>
            IT-Infrastruktur, Wartung, Ersatz, Installation
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Junior Softwareentwickler"
      subtitle="Juli 2007 bis April 2008 bei eTourism Competence Center Austria, Innsbruck, Österreich"
    >
      <ul class="list-disc mx-6 mb-6 mt-6">
        <li>
            Technische Konzeption und Implementierung einer Komponente zum semiautomatisierten Vertrieb touristischer Leistungen bei eBay
        </li>
        <li>
            Technische Konzeption und Implementierung webbasierter mobiler Reiseführer insbesondere für die Stadt Innsbruck sowie einer
            Wintersportregion
        </li>
      </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Zertifikate / Schulungen</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.certible.com/de/verify/9c51659a4a9ba96f982227e1d4312ce0" target="_blank">April 2024 | <strong>CPSA-F Zertifizierung</strong> | iSAQB GmbH</a>
    </li>
    <li>
      Oktober 2014 | <strong>Scrum Master Schulung</strong> | it-agile GmbH
    </li>
    <li>
      Juni 2014 | <strong>Projektleiter Softskills Schulung</strong> | Ray Sono AG
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Kompetenzen</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6 mb-10">
    <li>Java</li>
    <li>Spring Boot</li>
    <li>JHipster</li>
    <li>Elasticsearch</li>
    <li>Solr</li>
    <li>Lucene</li>
    <li>License4J</li>
    <li>Zelix KlassMaster</li>
    <li>MySQL</li>
    <li>PostgreSQL</li>
    <li>REST</li>
    <li>GraphQL</li>
    <li>Magnolia DXP</li>
    <li>Liferay</li>
    <li>Google Cloud Platform</li>
    <li>OpenShift</li>
    <li>Azure</li>
    <li>Docker</li>
    <li>Kubernetes</li>
    <li>Helm</li>
    <li>Terraform</li>
    <li>Git</li>
    <li>GitLab</li>
    <li>CI/CD</li>
    <li>Maven</li>
    <li>Gradle</li>
    <li>Nexus</li>
  </ul>

  <div class="mb-5">
      <div class="text-3xl w-full font-bold">Ausbildung</div>
    </div>

    <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement
        title="Praxissemester und Diplomarbeit"
        subtitle="September 2006 bis März 2007 eTourism Competence Center Austria, Innsbruck, Österreich"
      >
      <p>
        Konzeption und Realisierung einer Komponente zum semiautomatisierten Vertrieb touristischer Leistungen bei eBay.
        <ul class="list-disc mx-6 mb-6 mt-6">
            <li>Konzeption der Einstellkomponente sowie des gesamten Prozesses der Initiierung und Verwaltung von Auktionen innerhalb der eBay-Plattform</li>
            <li>Implementierung der Einstellkomponente bestehend aus einer webbasierten Nutzerschnittstelle, einer in Java entwickelten Serverkomponente sowie einer MySQL- Datenbank</li>
            <li>Integration der Nutzerschnittstelle in die Gesamtumgebung des Kunden Tiscover</li>
        </ul>
      </p>
      </TimeLineElement>
      <TimeLineElement
        title="Studium zum Diplom Informatiker (FH)"
        subtitle="September 2003 bis März 2007 Naturwissenschaftl.- technische Akademie, Isny, Deutschland"
      >
      <p>Studienschwerpunkte: Allgemeine Informatik</p>
      </TimeLineElement>
      <TimeLineElement
        title="Informations- und Kommunikationstechnischer Assistent"
        subtitle="September 2001 bis Juli 2003 Gottlieb Daimler Schule II, Sindelfingen, Deutschland"
      >
        <p>Gleichzeitiger Erwerb der Fachhochschulreife</p>
      </TimeLineElement>
    </div>

</BaseLayout>
